.add-btn-div {
  padding-inline: 1rem;
  .add-new-btn {
    margin-top: 2rem;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    color: var(--primary-text);
    padding-inline: 1rem;
    transition: var(--transition);
    &:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
    }
  }
}
